# Librerías

In [8]:
import pandas as pd
import os

# Delitos

In [4]:
# Lectura de datasets de delitos

# Directorio donde se encuentran los archivos CSV
directorio = '../Datasets/Raw'

# Obtener la lista de archivos CSV en el directorio
archivos_csv = [archivo for archivo in os.listdir(directorio) if archivo.startswith('delitos_') and archivo.endswith('.csv')]

# Inicializar un DataFrame vacío para almacenar los datos
delitos = pd.DataFrame()

# Leer cada archivo CSV y concatenarlos en el DataFrame final
for archivo in archivos_csv:
    ruta_archivo = os.path.join(directorio, archivo)
    df_temporal = pd.read_csv(ruta_archivo)
    delitos = pd.concat([delitos, df_temporal], ignore_index=True)



# Lectura de otros datasets
comisarias = pd.read_csv('../Datasets/comisarias-policia-de-la-ciudad.csv')

from urllib.request import urlopen
import json
with urlopen('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ministerio-de-educacion/barrios/barrios.geojson') as response:
    barrios_geojson = json.load(response)



# Modificar tipo de dato
delitos['fecha'] = pd.to_datetime(delitos['fecha'])
delitos['franja'] = delitos['franja'].astype('Int32')
delitos['comuna'] = delitos['comuna'].astype('Int32')


# Añadir nuevas columnas
delitos['mes_numero'] = delitos['fecha'].dt.month
delitos['dia_numero'] = delitos['fecha'].dt.isocalendar().day
delitos['dia_mes_numero'] = delitos['fecha'].dt.day
#delitos['anio_mes'] = delitos['fecha'].dt.to_period('M')
delitos['anio_mes'] = pd.to_datetime(delitos['fecha'], format='%Y-%m').dt.to_period('M')


# Eliminamos registros que no nos interesan para el análisis


delitos = delitos[-delitos['tipo'].isin(['Homicidios', 'Amenazas', 'Lesiones'])]


# Seleccionamos solo registros de robos y hurtos

robos = delitos[delitos['subtipo'].isin(['Hurto total', 'Robo total'])]


# Eliminamos los registros que no tienen ubicación

cols = ['barrio', 'comuna', 'latitud', 'longitud']
robos = robos.dropna(subset = cols).reset_index(drop=True)

# Guardamos el fichero de robos en un dataframe
#robos.to_csv('../Datasets/robos_all_years.csv', index=False)

In [6]:
robos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653525 entries, 0 to 653524
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id-mapa         653525 non-null  int64
 1   anio            653525 non-null  int64
 2   mes             653525 non-null  object
 3   dia             653525 non-null  object
 4   fecha           653525 non-null  datetime64[ns]
 5   franja          651603 non-null  Int32
 6   tipo            653525 non-null  object
 7   subtipo         653525 non-null  object
 8   uso_arma        653525 non-null  object
 9   uso_moto        653525 non-null  object
 10  barrio          653525 non-null  object
 11  comuna          653525 non-null  Int32
 12  latitud         653525 non-null  float64
 13  longitud        653525 non-null  float64
 14  cantidad        653525 non-null  int64
 15  mes_numero      653525 non-null  int32
 16  dia_numero      653525 non-null  UInt32
 17  dia_mes_numero  653525 non-null  int32
 18  anio_mes        653525 non-null  period[M]
dtypes: Int32(2), UInt32(1), datetime64[ns](1), float64(2), int32(2), int64(3), object(7), period[M](1)
memory usage: 84.1+ MB

In [23]:
#robos[robos['franja'].isna()]
robos.franja.value_counts()

franja
20    41061
19    40402
18    39531
21    35695
17    35120
12    34043
14    33330
16    33272
15    32626
0     32435
13    31736
22    31331
10    28679
11    28143
8     27010
9     26493
23    25282
7     22027
6     16612
1     13218
5     13042
2     10829
4      9886
3      9800
Name: count, dtype: Int64

# Weather

In [29]:
weather = pd.read_csv('../Datasets/Raw/weather_data.csv')
weather

,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo
0,2017-01-01 00:00:00,24.7,88.0,NaN,5.4,1005.0,NaN
1,2017-01-01 01:00:00,22.8,91.0,NaN,7.2,1005.6,NaN
2,2017-01-01 02:00:00,22.6,92.0,NaN,4.3,1005.5,NaN
3,2017-01-01 03:00:00,22.5,96.0,NaN,3.2,1004.7,NaN
4,2017-01-01 04:00:00,21.3,95.0,NaN,2.2,1005.6,NaN
...,...,...,...,...,...,...,...
52579,2022-12-31 19:00:00,24.5,58.0,0.0,17.6,1013.8,1.0
52580,2022-12-31 20:00:00,23.6,61.0,0.0,17.3,1013.8,1.0
52581,2022-12-31 21:00:00,22.4,73.0,0.0,16.6,1013.7,1.0
52582,2022-12-31 22:00:00,21.2,80.0,0.0,16.2,1013.8,1.0
52583,2022-12-31 23:00:00,20.1,86.0,0.0,12.2,1014.1,1.0

In [35]:
weather['date'] = weather['time'].str.split(' ', expand=True)[0]
weather['hour'] = weather['time'].str.split(' ', expand=True)[1].str.split(':', expand=True)[0]
weather['hour'] = weather['hour'].astype('Int64')

weather.to_csv('../Datasets/Clean/weather_data_clean.csv', index = False)

In [34]:
weather

,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo,date,hour
0,2017-01-01 00:00:00,24.7,88.0,NaN,5.4,1005.0,NaN,2017-01-01,0
1,2017-01-01 01:00:00,22.8,91.0,NaN,7.2,1005.6,NaN,2017-01-01,1
2,2017-01-01 02:00:00,22.6,92.0,NaN,4.3,1005.5,NaN,2017-01-01,2
3,2017-01-01 03:00:00,22.5,96.0,NaN,3.2,1004.7,NaN,2017-01-01,3
4,2017-01-01 04:00:00,21.3,95.0,NaN,2.2,1005.6,NaN,2017-01-01,4
...,...,...,...,...,...,...,...,...,...
52579,2022-12-31 19:00:00,24.5,58.0,0.0,17.6,1013.8,1.0,2022-12-31,19
52580,2022-12-31 20:00:00,23.6,61.0,0.0,17.3,1013.8,1.0,2022-12-31,20
52581,2022-12-31 21:00:00,22.4,73.0,0.0,16.6,1013.7,1.0,2022-12-31,21
52582,2022-12-31 22:00:00,21.2,80.0,0.0,16.2,1013.8,1.0,2022-12-31,22
52583,2022-12-31 23:00:00,20.1,86.0,0.0,12.2,1014.1,1.0,2022-12-31,23