In [3]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

/var/folders/rl/8r_3m_r94_j58zn6wmg4r9m80000gn/T/ipykernel_1588/2069807019.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [23]:
robos = pd.read_csv('../Datasets/Clean/robos_all_years.csv')
dist_a_comisaria = pd.read_csv('../Datasets/Clean/distancia_entre_delito_y_comisaria_clean.csv')
weather_data_clean = pd.read_csv('../Datasets/Clean/weather_data_clean.csv')

In [24]:
robos.head()

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_arma,uso_moto,barrio,comuna,latitud,longitud,cantidad,mes_numero,dia_numero,dia_mes_numero,anio_mes
0,252569,2019,ENERO,LUNES,2019-01-28,8.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630835,-58.391528,1,1,1,28,2019-01
1,252570,2019,MARZO,LUNES,2019-03-04,11.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.628442,-58.391876,1,3,1,4,2019-03
2,252571,2019,ABRIL,MIERCOLES,2019-04-10,18.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.630313,-58.391512,1,4,3,10,2019-04
3,252572,2019,NOVIEMBRE,LUNES,2019-11-18,12.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630163,-58.391542,1,11,1,18,2019-11
4,252573,2019,ABRIL,LUNES,2019-04-01,17.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.629944,-58.391882,1,4,1,1,2019-04

In [25]:
dist_a_comisaria.head()

,id_delito,distancia_a_comisaria_m,id_comisaria,distancia_a_comisaria_grupo
0,252569,918,42,501-1000
1,252570,658,42,501-1000
2,252571,860,42,501-1000
3,252572,844,42,501-1000
4,252573,823,42,501-1000

In [26]:
weather_data_clean.head()

,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo,date,hour
0,2017-01-01 00:00:00,24.7,88.0,NaN,5.4,1005.0,NaN,2017-01-01,0
1,2017-01-01 01:00:00,22.8,91.0,NaN,7.2,1005.6,NaN,2017-01-01,1
2,2017-01-01 02:00:00,22.6,92.0,NaN,4.3,1005.5,NaN,2017-01-01,2
3,2017-01-01 03:00:00,22.5,96.0,NaN,3.2,1004.7,NaN,2017-01-01,3
4,2017-01-01 04:00:00,21.3,95.0,NaN,2.2,1005.6,NaN,2017-01-01,4

In [28]:
robos_enriquecido = robos.merge(
    right = dist_a_comisaria, 
    left_on = 'id-mapa', 
    right_on = 'id_delito', 
    how = 'left').drop(columns = 'id_delito').rename(columns={}).merge(
        right = weather_data_clean,
        left_on = ['fecha', 'franja'],
        right_on = ['date', 'hour'],
        how = 'left'
            ).drop(columns = ['date', 'hour'])
robos_enriquecido

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_arma,uso_moto,barrio,comuna,latitud,longitud,cantidad,mes_numero,dia_numero,dia_mes_numero,anio_mes,distancia_a_comisaria_m,id_comisaria,distancia_a_comisaria_grupo,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo
0,252569,2019,ENERO,LUNES,2019-01-28,8.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630835,-58.391528,1,1,1,28,2019-01,918,42,501-1000,2019-01-28 08:00:00,22.6,98.0,NaN,0.0,1010.0,NaN
1,252570,2019,MARZO,LUNES,2019-03-04,11.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.628442,-58.391876,1,3,1,4,2019-03,658,42,501-1000,2019-03-04 11:00:00,20.3,86.0,NaN,18.4,1011.3,NaN
2,252571,2019,ABRIL,MIERCOLES,2019-04-10,18.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.630313,-58.391512,1,4,3,10,2019-04,860,42,501-1000,2019-04-10 18:00:00,26.8,59.0,NaN,11.2,1012.8,NaN
3,252572,2019,NOVIEMBRE,LUNES,2019-11-18,12.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630163,-58.391542,1,11,1,18,2019-11,844,42,501-1000,2019-11-18 12:00:00,25.6,63.0,NaN,7.6,1013.8,NaN
4,252573,2019,ABRIL,LUNES,2019-04-01,17.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.629944,-58.391882,1,4,1,1,2019-04,823,42,501-1000,2019-04-01 17:00:00,22.6,80.0,NaN,0.0,1014.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653520,831327,2017,DICIEMBRE,DOMINGO,2017-12-31,23.0,Hurto,Hurto total,NO,NO,VILLA URQUIZA,12,-34.569537,-58.488005,1,12,7,31,2017-12,700,26,501-1000,2017-12-31 23:00:00,20.7,70.0,NaN,9.4,1010.8,NaN
653521,831330,2017,DICIEMBRE,DOMINGO,2017-12-31,14.0,Hurto,Hurto total,NO,NO,BELGRANO,13,-34.559850,-58.452968,1,12,7,31,2017-12,306,17,301-500,2017-12-31 14:00:00,22.8,76.0,NaN,14.4,1010.6,NaN
653522,831333,2017,DICIEMBRE,DOMINGO,2017-12-31,0.0,Hurto,Hurto total,NO,NO,NUÑEZ,13,-34.552862,-58.462993,1,12,7,31,2017-12,168,18,100-300,2017-12-31 00:00:00,23.8,84.0,NaN,10.4,1005.9,NaN
653523,831336,2017,DICIEMBRE,DOMINGO,2017-12-31,9.0,Hurto,Hurto total,NO,NO,VILLA PUEYRREDON,12,-34.572164,-58.505348,1,12,7,31,2017-12,1579,49,>1000,2017-12-31 09:00:00,22.4,95.0,NaN,9.4,1007.0,NaN
653524,831339,2017,DICIEMBRE,DOMINGO,2017-12-31,3.0,Hurto,Hurto total,NO,NO,RECOLETA,2,-34.592010,-58.398274,1,12,7,31,2017-12,551,11,501-1000,2017-12-31 03:00:00,21.6,91.0,NaN,6.1,1005.9,NaN

In [29]:
# sanity check
robos_enriquecido[[
    'anio', 
    'fecha', 
    'franja', 
    'time', 
    'w_temperatura'	,
    'w_humedad_relativa',	
    'w_precipitaciones',
    'w_velocidad_del_viento',
    'w_presion_del_aire',
    'w_codigo_del_tiempo',
    ]].sample(10)

,anio,fecha,franja,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo
282843,2021,2021-04-27,15.0,2021-04-27 15:00:00,19.2,60.0,0.0,24.1,1017.8,NaN
436798,2022,2022-12-09,18.0,2022-12-09 18:00:00,35.2,33.0,0.0,12.6,1005.2,3.0
371582,2022,2022-06-22,0.0,2022-06-22 00:00:00,11.2,88.0,0.0,18.4,1016.9,2.0
559530,2017,2017-02-01,18.0,2017-02-01 18:00:00,23.6,94.0,NaN,7.6,1006.4,NaN
182679,2018,2018-10-23,8.0,2018-10-23 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
119470,2018,2018-10-17,16.0,2018-10-17 16:00:00,27.7,61.0,NaN,0.0,NaN,NaN
470397,2016,2016-01-27,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587534,2017,2017-07-11,20.0,2017-07-11 20:00:00,14.6,78.0,NaN,9.0,1024.8,NaN
649537,2017,2017-11-23,8.0,2017-11-23 08:00:00,16.8,50.0,NaN,15.5,1006.7,NaN
632543,2017,2017-02-06,9.0,2017-02-06 09:00:00,16.7,89.0,NaN,14.0,1005.8,NaN

In [30]:
robos_enriquecido.to_csv('../Datasets/Clean/robos_enriquecido.csv', index = False)

In [32]:
robos_enriquecido

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_arma,uso_moto,barrio,comuna,latitud,longitud,cantidad,mes_numero,dia_numero,dia_mes_numero,anio_mes,distancia_a_comisaria_m,id_comisaria,distancia_a_comisaria_grupo,time,w_temperatura,w_humedad_relativa,w_precipitaciones,w_velocidad_del_viento,w_presion_del_aire,w_codigo_del_tiempo
0,252569,2019,ENERO,LUNES,2019-01-28,8.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630835,-58.391528,1,1,1,28,2019-01,918,42,501-1000,2019-01-28 08:00:00,22.6,98.0,NaN,0.0,1010.0,NaN
1,252570,2019,MARZO,LUNES,2019-03-04,11.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.628442,-58.391876,1,3,1,4,2019-03,658,42,501-1000,2019-03-04 11:00:00,20.3,86.0,NaN,18.4,1011.3,NaN
2,252571,2019,ABRIL,MIERCOLES,2019-04-10,18.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.630313,-58.391512,1,4,3,10,2019-04,860,42,501-1000,2019-04-10 18:00:00,26.8,59.0,NaN,11.2,1012.8,NaN
3,252572,2019,NOVIEMBRE,LUNES,2019-11-18,12.0,Hurto,Hurto total,NO,NO,PARQUE PATRICIOS,4,-34.630163,-58.391542,1,11,1,18,2019-11,844,42,501-1000,2019-11-18 12:00:00,25.6,63.0,NaN,7.6,1013.8,NaN
4,252573,2019,ABRIL,LUNES,2019-04-01,17.0,Robo,Robo total,NO,NO,PARQUE PATRICIOS,4,-34.629944,-58.391882,1,4,1,1,2019-04,823,42,501-1000,2019-04-01 17:00:00,22.6,80.0,NaN,0.0,1014.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653520,831327,2017,DICIEMBRE,DOMINGO,2017-12-31,23.0,Hurto,Hurto total,NO,NO,VILLA URQUIZA,12,-34.569537,-58.488005,1,12,7,31,2017-12,700,26,501-1000,2017-12-31 23:00:00,20.7,70.0,NaN,9.4,1010.8,NaN
653521,831330,2017,DICIEMBRE,DOMINGO,2017-12-31,14.0,Hurto,Hurto total,NO,NO,BELGRANO,13,-34.559850,-58.452968,1,12,7,31,2017-12,306,17,301-500,2017-12-31 14:00:00,22.8,76.0,NaN,14.4,1010.6,NaN
653522,831333,2017,DICIEMBRE,DOMINGO,2017-12-31,0.0,Hurto,Hurto total,NO,NO,NUÑEZ,13,-34.552862,-58.462993,1,12,7,31,2017-12,168,18,100-300,2017-12-31 00:00:00,23.8,84.0,NaN,10.4,1005.9,NaN
653523,831336,2017,DICIEMBRE,DOMINGO,2017-12-31,9.0,Hurto,Hurto total,NO,NO,VILLA PUEYRREDON,12,-34.572164,-58.505348,1,12,7,31,2017-12,1579,49,>1000,2017-12-31 09:00:00,22.4,95.0,NaN,9.4,1007.0,NaN
653524,831339,2017,DICIEMBRE,DOMINGO,2017-12-31,3.0,Hurto,Hurto total,NO,NO,RECOLETA,2,-34.592010,-58.398274,1,12,7,31,2017-12,551,11,501-1000,2017-12-31 03:00:00,21.6,91.0,NaN,6.1,1005.9,NaN